.visualization-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.visualization-container>* {
    flex: 0 0 calc(1/7 * 100%);
}

.v-c-pair-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 200px;
    height: 235px;
}

.visualization {
    position: relative;
    /* margin-right: 10px; */
    width: 200px;
    /* width: calc(16.66% - 10px); */
    height: 200px;
    /* border: 1px solid #ccc; */
}

.text-container {
    text-align: center;
    margin-top: 5px;
    /* margin-left: auto;
    margin-right: auto; */
}

.caption {
    /* text-align: center;
    margin-top: 10px; */
    font-size: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    font-family: 'Noto Sans SC', sans-serif; /* Use Noto Sans Simplified Chinese */
    font-weight: 400; /* Choose the appropriate weight */
    
}

.caption.zhimangxing {
    font-size: 25px;
    font-family: 'Zhi Mang Xing', cursive; /* Use Zhi Mang Xing */
    font-weight: 400; /* Choose the appropriate weight */
}

.page-caption {
    text-align: center;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans SC', sans-serif; /* Use Noto Sans Simplified Chinese */
    font-weight: 700; /* Choose the appropriate weight */
    
}

.footer{
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    background-color:#fafafa;
    padding:1rem 1.5rem 1.2rem
}

.g-container {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    transition: clip-path .3s linear;
    clip-path: circle(20px at 44px 44px);
    background: #fff;
    
    &:hover {
        clip-path: circle(460px at 44px 44px);
    }
}