.visualization-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.visualization-container>* {
    flex: 0 0 calc(1/7 * 100%);
}

.v-c-pair-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    width: 600px;
    height: 650px;
}

.v-c-pair-container.small {
    margin-bottom: 10px;
    width: 200px;
    height: 235px;
}

.visualization {
    position: relative;
    width: 600px;
    height: 600px;
}

.visualization.shadow {
    position: relative;
    width: 200px;
    height: 200px;
    transition: box-shadow 0.3s ease;
}

.visualization.shadow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-container {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    /* text-align: center;
    margin-top: 10px; */
    font-size: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    font-family: 'Noto Sans SC', sans-serif; /* Use Noto Sans Simplified Chinese */
    font-weight: 400; /* Choose the appropriate weight */
    
}

.caption.large {
    font-size: 18px;
}

.caption.zhimangxing {
    font-size: 25px;
    font-family: 'Zhi Mang Xing', cursive; /* Use Zhi Mang Xing */
    font-weight: 400; /* Choose the appropriate weight */
}

.caption.zhimangxinglarge {
    font-size: 32px;
    font-family: 'Zhi Mang Xing', cursive; /* Use Zhi Mang Xing */
    font-weight: 400; /* Choose the appropriate weight */
}

.page-caption {
    text-align: center;
    font-size: 35px;
    /* margin-top: 15px; */
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans SC', sans-serif; /* Use Noto Sans Simplified Chinese */
    font-weight: 700; /* Choose the appropriate weight */
    
}

.footer{
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    background-color:#fafafa;
    padding:1rem 1.5rem 1.2rem
}

.config-container {
    position: sticky;
    top: 2%;
    z-index: 1;
    margin-top: -60px;
    overflow: hidden;
    transition: clip-path .3s linear;
    clip-path: circle(20px at 44px 44px);
    background: #ffffff00;
    
    &:hover {
        clip-path: circle(460px at 44px 44px);
    }
}